<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
<div ng-controller="myController1" ng-click="click1()">111111</div>
<hr>
<div ng-controller="myController2" ng-click="click2()">222222</div>
<script type="text/javascript" src="angular-1.4.8.js"></script>

<script>

    var app = angular.module('app', []);
    //自定义服务的第二种方式：通过provider方法定义
    app.provider('myService', function () {
        //返回的是服务供应商 myServiceProvider
        return {
            name: 'zhangsan',
            $get: function () {
                //用于创建服务对象
                return {
                    name: this.name,
                    show: function () {
                        console.log(this.name);
                    }
                }
            }
        }
    });

    //配置myService服务 --->通过服务供应商配置
    /* app.config(['myServiceProvider', function (myServiceProvider) {
     console.log(myServiceProvider);
     myServiceProvider.name = 'helloworld';
     }]);*/

    //自定义服务和内置服务的使用完全一样
    app.controller('myController1', ['$scope', 'myService', function ($scope, myService) {
        console.log(myService);
        myService.show();
        $scope.click1 = function () {
            myService.name = 'aaaaaaa'
        };


    }]);

    app.controller('myController2', ['$scope', 'myService', function ($scope, myService) {
        console.log(myService);
        myService.show();
        $scope.click2 = function () {
            console.log(myService.name)
        };


    }]);


</script>
</body>
</html>
