<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			.box1{
				background: red;
			}
			.box2{
				background: green;
			}
		</style>
	</head>
	<body ng-controller="myController">
		<div hello-web my-fn='show()'></div>
		<hello-web my-fn="show2()"></hello-web>
		<section hello-web ></section>
		
		<script type="text/javascript" src="angular-1.4.8.js" ></script>
		<script>
			//创建模块
			var app=angular.module('app',[]);
			//自定义指令
			/*
			 第一个参数：自定义指令名,见名知意
			第二个参数：用于创建指令的函数
			 * */
			app.directive('helloWeb',function(){
				//自定义指令
				return {
					restrict:'AE',	//用于指定当前指令的使用方式，指令的使用方式有属性、标签、类、注释	
					template:'<div><input ng-model="name"/><strong ng-click="change()">{{name}}</strong></div>',				
					replace:true,	//用模版的根元素取代原有的父元素
				
					scope:{
						//绑定策略：@、=,&	
						//      @绑定的是指定属性值中的字符串
						//		=绑定的是指定属性值中的变量
						//		& 绑定函数
						change:'&myFn'
					},	
					controller:['$scope',function($scope){
						$scope.name='lisi';
					}]
				}
			});	
			app.controller('myController',['$scope',function($scope){
				$scope.name='hello';
				$scope.show=function(){
					alert(66666);
				}
				$scope.show2=function(){
					alert(88888);
				}
			}]);
		</script>
	</body>
</html>
