<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<p>{{name}}</p>
		<div ng-init="age=20;flag=true"></div>		
		<input type="text" ng-model="sex"/>
		
		<hr />
		<div ng-controller="myController">
			<input type="text" ng-model="name" />
		</div>
		
		<script type="text/javascript" src="angular-1.4.8.js" ></script>
		<script>
			//创建myApp模块
			var app=angular.module('myApp',[]);
			/*
			 $rootScope 根作用域
			 * */
			app.run(['$rootScope',function($rootScope){
				$rootScope.name='zhangsan';
				//console.log($rootScope);
			}]);
			//创建控制器
			app.controller('myController',['$scope',function($scope){
				console.log($scope);				
			}]);
		</script>
	</body>
</html>
